<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Form</title>
  </head>
  <body>
    <h1>FORM</h1>
    <form action="/checkout" method="post">
    <br><lable> Input text: <input type="text" id="item" name= "item"></lable>

      <input type="submit" id="submit">
    </form>


  </body>
</html>
